Flask
Flask-Cors
numpy
pillow
tensorflow
opencv-python
keras
matplotlib
opencv-python-headless
scikit-learn
scikit-image
gunicorn

# # 1️⃣ Install dependencies
# pip install -r requirements.txt

# 2️⃣ Train model (creates model.h5)
# python train_model.py

# 3️⃣ Run Flask server
# python run.py
